@media screen and (min-width : 320px) {
    .sec__3__boxes {
        display: flex;
        flex-direction: row;
        width: 135%;
        margin-top: 41.5px;
        justify-content: space-between;
    }
}