
@media screen and (min-width : 320px) {
    .sec__6 {
        width: 90%;
        height: 550px;
        border-radius: 15px;
        margin: 116px auto;
        -webkit-box-shadow: 0px 0px 25px 0px rgba(35,97,181,0.2); 
        box-shadow: 0px 0px 25px 0px rgba(35,97,181,0.2);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    
        .sec__6__img {
            width: 100%;
            text-align: center;
            img {
                width: 80%;
            }
        }
        .sec__6__text {
            width: 80%;
    
            p:first-child {
                font-weight: bold;
                color: #2361B5;
    
                &::before {
                    content: '';
                    height: 24px;
                    border-radius: 15px;
                    border: 2px solid #00DE9A;
                    margin-left: 16px;
                }
            }
            p:last-child {
                font-weight: lighter;
                font-size: 12px;
                line-height: 1.6rem;
            }
        }
        .sec__6__input {
            width: 80%;
            background-color: #F9F9F9;
            height: 55px;
            border-radius: 10px;
            position: relative;
    
            input {
                height: inherit;
                background-color: #F9F9F9;
                border: none;
                outline-style: none;
                border-radius: 10px;
                margin-right: 5px;
    
                &::placeholder {
                    padding-right: 15px;
                    font-size: 12px;
                }
            }
            button {
                font-size: 12px;
                font-weight: bold;
                color: white;
                background-color: #1894FF;
                padding: 12px 11px 13px 16px;
                border: none;
                border-radius: 10px;
                position: absolute;
                top: 13%;
                left: 5%;
            }
        }
    }
}