@import '../../assets/sass/styles.scss';

@media screen and (min-width : 320px) {
    .sec__7 {
        margin-top: 91px;
        width: 100%;
        height: 170px;
        background-color: #1894FF;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        .sec__7__text {
            display: flex;
            flex-direction: column;
            align-items: center;

          p:first-child {
            font-weight: bold;
            color: white;
            margin: 0;
        }
        p:last-child {
            font-size: 12px;
            font-weight: lighter;
            color: white;
        }  
        }
        .sec__7__support {
            background-color: #2361B5;
            height: 52px;
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            border-radius: 10px;

            p {
                color: white;
             }
        }
        
    }
}

@media screen and (min-width : 1024px) {
    .sec__7 {
        margin-top: 91px;
        width: 100%;
        height: 130px;
        background-color: #1894FF;

        .content__7 {
            width: 75%;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .sec__7__text {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 42%;

                p:first-child {
                    font-size: 20px;
                    font-weight: bold;
                    color: white;
                    margin: 0;
                }
                p:last-child {
                    font-size: 14px;
                    font-weight: lighter;
                    color: white;
                }     
            }
            .sec__7__support {
                background-color: #2361B5;
                height: 52px;
                width: 30%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                border-radius: 10px;

                p {
                    color: white;
                }
            }
        }

        
        
    }
}