@import '../../assets/sass/styles.scss';

@media screen and (min-width : 320px) {
    .sec__7 {
        margin-top: 91px;
        width: 100%;
        height: 170px;
        background-color: $primaryColor;
        @include flex(column, space-evenly, center);

        .content__7 {
            width: 80%;
            .sec__7__text {
                @include flex(column, unset, center);
    
              p:first-child {
                font-weight: bold;
                color: white;
                margin: 0;
            }
            p:last-child {
                @include pText($pXs, lighter, unset);
                color: white;
            }  
            }
            .sec__7__support {
                background-color: $epiblueColor;
                height: 52px;
                width: 100%;
                @include flex(row, space-evenly, center);
                border-radius: 10px;
    
                p {
                    font-size: $pXs;
                    color: white;
                 }
            }
        }

        
        
    }
}

@media screen and (min-width : 500px) and (max-width : 1023px) {
    .sec__7 {
        .content__7 {
            @include flex(column, space-between, center);

            .sec__7__text {
                width: 80%;
                @include flex(column, space-between, center)
            }
            .sec__7__support {
                width: 80%;
               max-width: 350px;
            }
        }
    }
}

@media screen and (min-width : 1024px) {
    .sec__7 {
        margin-top: 91px;
        width: 100%;
        height: 130px;
        background-color: $primaryColor;

        .content__7 {
            width: 75%;
            margin: 0 auto;
            @include flex(row, space-between, center);

            .sec__7__text {
                @include flex(row, space-between, center);
                width: 55%;

                p:first-child {
                    @include pText($heading3, bold, unset);
                    color: white;
                    margin: 0;
                }
                p:last-child {
                    @include pText($pSm, lighter, unset);
                    color: white;
                }     
            }
            .sec__7__support {
                width: 30%;
                height: 52px;
                background-color: $epiblueColor;
                border-radius: 10px;
                @include flex(row, space-evenly, center);

                p {
                    color: white;
                }
            }
        }

        
        
    }
}