@import '../../../assets/sass/styles.scss';

@media screen and (min-width : 320px) {
    .sec2 {
        width: 80%;
        margin: 50px auto;

        .image {
            @include flex(column, unset, center);
            width: 100%;
            position: relative;
            height: 260px;

            img {
                width: 100%; 
                position: absolute;
            }
            img.cardDoc {
                top: 3%;
            }
            img:last-child {
                width: 40%;
                left: 30%;
                top: 30%;
            }

        }
        .content {
            margin-top: 55.5px;
            width: 100%;
            .light {
                font-size: 12px;
                font-weight: lighter;
                line-height: 1.8rem;
            }
            .services {
                display: none;
            }
        }
    }
}

@media screen and (min-width : 370px) and (max-width : 767px) {
    .sec2 {
        .image {
            height: 300px;
            max-height: 300px;
            img {
               max-height: 300px; 
            }
            img:last-child {
                max-height: 150px;
                left: 30%;
            }
            
        }
    }
    
}

@media screen and (min-width: 768px) and (max-width : 1023px) {
    .sec2 {
        .image {
            height: 360px;
            max-height: 400px;
            
            img {
                width: 55%;
                max-width: 65%;
                max-height: 400px;
            }
            img:last-child {
                width: 20%;
                left: 40%;
            }
        }
        
    }
}

@media screen and (min-width : 1024px) {
    .sec2 {
        width: 75%;
        margin: 140px auto;
        display: flex;
        justify-content: space-between;
        .image {
            width: 40%;
            height: 356px;
            position: relative;
            img:first-child {
                width: 356px;
                // height: 356px;
                position: absolute;
            }
            img.cardDoc {
                width: 355px;
                height: 355px;
                position: absolute;
                top: 10px;
                // left: 12%;
                // top: 0;
            }
            img:last-child {
                // width: 26%;
                // top: 35%;
                // left: 44%;
                width: 113px;
                position: absolute;
                top: 113px;
                left: 35%;
            }

        }
        .content {
            width: 50%;
            margin: 0;
            .light {
                font-size: 16px;
                font-weight: lighter;
                line-height: 1.8rem;
            }
            .services {
                width: 100%;
                display: flex;
                justify-content: space-between;
                .box {
                    margin-top: 62px;
                    @include box;
                }
                p {
                    font-size: $pSm;
                    font-weight: lighter;
                    text-align: center;
                }

            }
        }
    }
}