@import '../../../assets/sass/styles.scss';

@media screen and (min-width : 320px) {
    .sec3 {
        width: 80%;
        margin: 84.5px auto 37px auto;

        .content {
            width: 100%;
            @include flex(column, space-between, unset);

            .boxes {
                width: 175%;
                @include flex(row, space-between, unset);
                margin-top: 41.5px;

                .box {
                    @include boxing(100px, 100px);
                    @include flex(column,center, center);
                    img {
                        width: 45px;
                        height: 43px;
                    }
                    p {
                        color: $epiblueColor;
                        font-size: $pXs;
                    }
                    .deactive {
                        filter: grayscale(100%);
                        opacity: .5;
                    }
                }

            }

            .progress_content {
                width: 100%;
                height: 480px;
                margin-top: 37px;
                p {
                    @include pText($pXs, lighter, 1.8rem)
                }
                .progress {
                    margin-top: 32px;
                    width: 100%;
                    @include flex(row, unset, unset);

                    .progress_bar {
                        position: relative;
                        width: 65px;
                        height: 200px;
                        img {
                             position: absolute;
                        }
                        .v__line {
                            @include vLine;
                        }
                    }
                    .progress_steps {
                        height: 240px;
                        margin: 10px 10px 0 0;
                        @include flex(column, space-around, unset);

                        .progress_step {
                            h6 {
                                margin: 0;
                                font-size: $pSm;
                            }
                            p {
                                @include pText($pXs, lighter, 1.4rem);
                                margin-top: 10px;
                            }
                        }
                    }
                }


            }
        }
    }
}

@media screen and (min-width: 500px) and (max-width : 1023px) {
    .sec3 {
        .content {
            .boxes {
                width: 110%;
                justify-content: space-evenly;
            }
        }
    }
}

@media screen and (min-width : 1024px) {
    .sec3 {
        width: 80%;
        margin: 225px auto;
        // height: 500px;

        .content {
            width: 100%;
            @include flex(row, space-between, unset);

            .boxes {
                @include flex(row, space-between, center);
                flex-wrap: wrap;
                width: 360px;
                height: 374px;
                margin-top: 41.5px;
                .box {
                    @include boxing(160px, 160px);
                    @include flex(column, center, center);
                    img {
                        width: 67px;
                        height: 58px;
                    }
                    p {
                        color: $epiblueColor;
                        font-size: $pSm;
                    }
                    .deactive {
                        filter: grayscale(100%);
                        opacity: .5;
                    }
                }
            }

            .progress_content {
                margin-right: 50px;
                width: 55%;
                height: 364px;
                p {
                    @include pText(16px, lighter, 1.8rem)
                }
                .progress {
                    margin-top: 32px;
                    width: 100%;
                    height: 220px;

                    .progress_bar {
                        position: relative;
                        width: 65px;
                        height: 200px;
                        img {
                             position: absolute;
                        }
                        .v__line {
                           @include vLine;
                        }
                    }
                    .progress_steps {
                        margin: 0;
                        height: 245px;
                       @include flex(column, space-around, unset);

                        .progress_step {
                            h6 {
                                margin: 0;
                                font-size: 18px;
                            }
                            p {
                                @include pText(16px, lighter, 1.4rem);
                                margin: 10px 20px 0 0;
                            }
                        }
                    }
                }


            }
        }
    }
}