@import '../../../assets/sass/styles';

@media screen and (min-width : 320px) {
    .sec2 {
        width: 80%;
        margin: 0 auto;

        .container {
            width: 90%;
            margin: 0 auto;

            .content {
                width: 100%;
                margin: 40px 0;

                p {
                    @include pText(14px, lighter, 2rem);
                }
            }
            
        }
    }
}


@media screen and (min-width : 1024px) {
        .sec2 {
            width: 75%;
            margin: 0 auto;

            .container {
                width: 90%;
                margin: 0 auto;

                .content {
                    width: 100%;
                    margin: 40px 0;

                    p {
                        @include pText(16px, lighter, 2rem);
                    }
                }
                
            }
        }
}