@import '../../../assets/sass/styles';

@media screen and (min-width : 320px) {
    .container {
    width: 80%;
    margin: 70px auto;

    .resultContent {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        div {
            width: 50%;
            p:first-child {
                font-size: 12px;
                font-weight: lighter;
            }
            p:last-child {
                font-size: 14px;
            }
        }
    }
    .btns {
        margin-top: 30px;
        width: 100%;
        @include flex(column, space-between, center);

        button:first-child {
            width: 170px;
            height: 52px;
            border: 1px solid $primaryColor;
            color: $primaryColor;
            background-color: white;
            font-size: 16px;
            font-weight: bold;
            border-radius: 8px;
            cursor: pointer;
            &:hover {
                background-color: $cloudyColor;
            }
        }
        button:last-child {
            width: 170px;
            height: 52px;
            border: none;
            color: white;
            background-color: $primaryColor;
            font-size: 16px;
            font-weight: bold;
            border-radius: 8px;
            margin-right: 0;
            margin-top: 10px;
            cursor: pointer;
            &:hover {
                background-color: $cloudyColor;
                color: $primaryColor;
            }
        }
    }
}}



@media screen and (min-width : 1024px) {
    .container {
        width: 100%;
        margin: 70px 0;
        @include flex(row, space-between, center);

        .rigth {
            width: 55%;
            .resultContent {
                width: 50%;
                margin: 0 auto;
                display: flex;
                flex-wrap: wrap;
                div {
                    width: 33%;
                    margin-bottom: 20px;
                    p:first-child {
                        font-size: 12px;
                        font-weight: lighter;
                    }
                    p:last-child {
                        font-size: 16px;
                    }
                }
            }
            .btns {
                margin-top: 30px;
                width: 50%;
                margin-left: auto;
                margin-right: auto;
                @include flex(row, center, unset);
    
                button:first-child {
                    width: 170px;
                    height: 52px;
                    border: 1px solid $primaryColor;
                    color: $primaryColor;
                    background-color: white;
                    font-size: 16px;
                    font-weight: bold;
                    border-radius: 8px;
                    cursor: pointer;
                    &:hover {
                        background-color: $cloudyColor;
                    }
                }
                button:last-child {
                    width: 170px;
                    height: 52px;
                    border: none;
                    color: white;
                    background-color: $primaryColor;
                    font-size: 16px;
                    font-weight: bold;
                    border-radius: 8px;
                    margin-right: 16px;
                    margin-top: 0;
                    cursor: pointer;
                    &:hover {
                        background-color: $cloudyColor;
                        color: $primaryColor;
                    }
                }
            }
        }
        .left {
            width: 45%;
            height: 650px;
            background-color:#E6F3FF;
            @include flex(row, center, center);

            .pharmInformation {
                width: 80%;
                height: 371px;
                @include flex(column, space-between, unset);
            }
        }

        
    }
}