@import '../../assets/sass/styles.scss';

@media screen and (min-width : 320px) and (max-width : 767px) {
    .sec__8 {
        width: 80%;
        margin: 52px auto 50px auto;
        height: 220px;
        @include flex(column, space-between, flex-start);

        .sec8__1 {
            height: 220px;
            @include flex(column, space-between, flex-start);

            .sec__8__text {
                p:first-child {
                    @include pText($pSm, bold, unset);
                }
                p:last-child {
                    @include pText($pSm, lighter, 1.6rem);
                }
            }

        .sec__8__icons {
            width: 100%;
            @include flex(row, space-around, center);
            display: flex;
            justify-content: space-around;
            align-self: center;
        }
        }
        .sec8__2, .sec8__btn {
            display: none;
        }
    }
}

@media screen and (min-width : 768px) and (max-width : 1023px) {
    .sec__8 {
        width: 75%;
        margin: 52px auto 50px auto;
        height: 240px;
        @include flex(row, space-between, unset);

        .sec8__1 {
            width: 25%;
            @include flex(column, space-between, flex-start);
            height: 230px;

            .sec__8__text {
                p:first-child {
                    @include pText($pSm, bold, unset);
                }
                p:last-child {
                    @include pText($pSm, lighter, 1.6rem);
                }
            }
    
            .sec__8__icons {
                margin-top: 33px;
                width: 70%;
                @include flex(row, space-between, center);
                align-self: flex-start;
            }
        }
        .sec8__2 {
            width: 15%;
            p {
                font-weight: bold;
            }
            ul {
                padding: 0;
                li {
                    list-style: none;
                    margin-top: 30px;
                    a {
                        @include aTag;
                        font-size: $pSm;
                        border-bottom: 2px solid white;
                        padding-bottom: 10px;

                        &:hover {
                            border-color: $primaryColor;
                        }
                    }
                }
            }
        }
        .sec8__btn {
            width: 25%;
            p {
                font-weight: bold;
            }
            .btns {
                @include flex(column, space-between, unset);
                margin-top: 28px;

            }
            
        }
    }
}

@media screen and (min-width : 1024px) {
    .sec__8 {
        width: 75%;
        margin: 52px auto 50px auto;
        height: 240px;
        @include flex(row, space-between, unset);

        .sec8__1 {
            width: 25%;
            @include flex(column, space-between, flex-start);
            height: 230px;

            .sec__8__text {
                p:first-child {
                    @include pText($pSm, bold, unset);
                }
                p:last-child {
                    @include pText($pSm, lighter, 1.6rem);
                }
            }
    
            .sec__8__icons {
                margin-top: 33px;
                width: 70%;
                @include flex(row, space-between, center);
                align-self: flex-start;
            }
        }
        .sec8__2 {
            width: 15%;
            p {
                font-weight: bold;
            }
            ul {
                padding: 0;
                li {
                    list-style: none;
                    margin-top: 30px;
                    a {
                        @include aTag;
                        font-size: $pSm;
                        border-bottom: 2px solid white;
                        padding-bottom: 10px;

                        &:hover {
                            border-color: $primaryColor;
                        }
                    }
                }
            }
        }
        .sec8__btn {
            width: 25%;
            p {
                font-weight: bold;
            }
            .btns {
                @include flex(column, space-between, unset);
                margin-top: 28px;

            }
            
        }
    }
}