@import '../../assets/sass/styles.scss';

@media screen and (min-width : 320px) {
    .sec1 {
        width: 80%;
        margin: 40px auto;
        @include flex(column, center, center);

        .image {
            width: 100%;
            img:first-child {
                display: none;
            }
            img {
                width: 100%;
            }
        }
        
        .content {
            width: 100%;
                text-align: center;
            h2 {
                color: $primaryColor;
            }

            .btns {
                // @include flexCenter;
                @include flex(column, unset, center);
                margin-top: 60px;

                .btn1 {
                    @include primaryButton;
                    width: 100%;
                }
                .btn2 {
                    @include commonButton;
                    width: 100%; 
                }

            }
        }
    }
}

@media screen and (min-width : 500px) and (max-width: 1023px) {
    .sec1 {
        .content {
            width: 60%;
        }
        .image {
            width: 70%;
            max-width: 500px;
            
        }
    }
}

@media screen and (min-width : 1024px) {
    .sec1 {
        width: 75%;
        margin: 40px auto;
        @include flex(row-reverse, space-between, center);

        .image {
            width: 60%;
            position: relative;
            height: 618px;
            img:first-child {
                position: absolute;
                width: 943px;
                height: 618px;
                right: 100px;
                display: block;
            }
            img:last-child {
                width: 413px;
                height: 336px;
                position: absolute;
                top: 20%;
                right: 30%;
            }
        }

        .content {
            text-align: right;
            width: 40%;

            h2 {
                font-size: $heading1;
            }
            p {
                font-size: $pMed;
            }

            .btns {
                @include flex(row,unset, unset);
                width: 100%;
                margin-top: 37.5px;
                
                .btn1 {
                    width: 100%;
                }
                .btn2 {
                    width: 100%;
                    margin-top: 0;
                    margin-right: 14px
                }
            }
        }
    }
}