@import '../../assets/sass/styles.scss';

@media screen and (min-width : 320px) {
    .header {
        width: 80%;
        margin: 20px auto;

        nav, .download__btn {
            display: none;
        }

        .items {
            width: 100%;
            @include flex(row, space-between, center);
         
            .dropIcon {
                display: block;
            }
        }

        .dropmenu {
            margin-top: 46.5px;
            height: 600px;

            button {
                @include ghostButton;
                width: 170px;
            }
            hr {
                width: 100%;
                margin-top: 27px;
                opacity: .1;
            }
            .dropItems {
                margin-top: 32.5px;
            }
            h3 {
                font-size: $pSm;
                color: $primaryColor;
                margin-top: 32.5px;

                &::before {
                    @include beforeText;
                    border-color: $primaryColor;
                }
            }
            li {
                @include liTag;
                margin-top: 33px;  
                a {
                    @include aTag;
                    padding-bottom: 10px;

                    &:hover {
                        @include hoverIcon;
                    }
                }
            }
        }
    }
 }
 
 @media screen and (min-width : 1024px) {
     .header {
        width: 75%;
        margin: 29px auto;

        .dropmenu {
            display: none;
        }

        nav, .download__btn {
            display: block;
        }
        .items {
            @include flex(row, space-between, center);

            .dropIcon {
                display: none;
            }
            nav {
                 width: 50%;

                ul {
                    width: 100%;
                    padding: 0;
                    @include flex(row, space-between, center);

                    li {
                        @include liTag;

                        a {
                            @include aTag;
                            padding-bottom: 10px;

                            &:hover {
                                @include hoverIcon;
                            }
                        }
                    }
                }
            }
            button {
                @include ghostButton;
            }           
        }
    }
}
 