// most used colors

$primaryColor : #1894ff;
$cloudyColor : #e6f3ff;
$greenColor : #00de9a;
$epiblueColor : #2361b5;
$placeHolderColor : #666666;
$dangerColor : #FE5656;

// borders

$borderPrimary : 1px solid $primaryColor;
$borderDanger : 1px solid $dangerColor;

//boxshodow

$boxShadow : 0px 0px 30px 0px rgba(24, 148, 255, .2);

// fonts sizes
$heading1 : 36px;
$heading2 : 24px;
$heading3 : 20px;

$pSm : 14px;
$pXs : 12px;



