@media screen and (min-width : 320px) {
    .sec__8 {
        width: 80%;
        margin: 0 auto;
        margin-top: 52px;
        margin-bottom: 50px;
        height: 220px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        .sec__8__text {
            p:first-child {
                font-size: 14px;
                font-weight: bold;
            }
            p:last-child {
                font-size: 14px;
                font-weight: lighter;
                line-height: 1.6rem;
            }
        }

        .sec__8__icons {
            width: 80%;
            display: flex;
            justify-content: space-around;
            align-self: center;
        }

    }
}