@media screen and (min-width : 320px) {
    .sec__2 {
    width: 80%;
    margin: 50px auto;
    }
    .sec2__img__box {
     position: relative;
     height: 260px;
    }
    .sec2__img__box img {
        width: 100%;
        position: absolute;
    }
    .sec2__carddoc {
        top: 3%;
    }
    .sec2__img__box img:last-child {
        width: 40%;
        left: 30%;
        top: 30%;
    }

}

@media screen and (min-width : 370px) {
    .sec2__img__box {
        height: 300px;
    }
}


